
/* Your CSS Code here. */


p{
	 font-weight: bold;
}
 

        /* Styles for the quotation text */
        blockquote {
	      max-width: 600px;
          margin: 10px;
          padding: 15px;
          border-left: 8px solid green;
          background-color: #f8fffe;
          font-weight: bold;
        }

     
        .option {
            display: block;

        }

       
